<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= q.question %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form class="form" method="POST" action="/a/add">
        <div class="form-group">
          <input type="hidden" name="q_id" value="<%= q._id %>">
          <input type="hidden" name="cat_id" value="<%= cat_id %>">
          <textarea type="text" name="answer" class="form-control" style="font:'Courier New', Courier, monospace;" placeholder="Type Answer (Markdown preview on the other side)" id="markdown" rows="10"></textarea>
        </div>
        <div class="form-group">
          <select name="mark">
            <option value="0" default>Not answered</option>
            <option value="1">Correct</option>
            <option value="2">Unsure</option>
          </select>
        </div>
        <input type="submit" value="SAVE" class="btn btn-default btn-lg">
        <a href="/q/read/<%= cat_id %>" class="btn btn-default btn-lg">CANCEL</a>
      </form>
    </div>
    <div class="col-md-6">
      <div id="preview" style="background-color:white;">
      </div>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<% include partials/markdown.ejs %>
<script>
$(function() {
  $('h1').html(marked($('h1').text()));
});
</script>
<% include partials/prettyprint.ejs %>
<% include partials/footer.ejs %>
