<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="https://res.cloudinary.com/dd6kwd0zn/image/upload/v1503003470/javascript_logo_v7fywa.png" class="img-responsive center-block" id="logo">
      <h1 class="text-center">front-end interview questions</h1>
      <p class="lead text-center">Master JavaScript front-end interviews with jSeeker.</p>
      <div class="text-center">
        <a class="btn btn-default btn-lg" href="/qa">See Questions</a> <a class="btn btn-default btn-lg" id="quiz-btn">Quiz Me</a>
      </div>
      <hr>
      <p class="small">NOTE: These are questions that come from the popular github repository <a href="https://github.com/h5bp/Front-end-Developer-Interview-Questions/#html-questions">https://github.com/h5bp/Front-end-Developer-Interview-Questions/#html-questions</a>
        <br>

      <% if (!user) { %>
        <p class="small"><a href="/login">Login</a> to answer, self test and mark if you answered a question correctly. Every answer can be saved for future reference.</p>
      <% } %>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<script>
$(function() {
  $('#quiz-btn').click(function() {
    var count = prompt('How many quiz items do you want to take out of 132 questions ?' );
    if (count <= 132 && count !== null) {
      window.location = 'quiz/all/' + count;
    }
  });
});
</script>
<% include partials/footer.ejs %>
