<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Add</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form class="form" method="POST" action="/q/add/<%= cat_id %>">
        <div class="form-group">
          <textarea type="text" name="question" class="form-control" style="font:'Courier New', Courier, monospace;" placeholder="Type Question" id="markdown"></textarea>
        </div>
        <div class="form-group">
          <input type="text" name="answer_link" class="form-control" placeholder="Answer Link">
        </div>
        <input type="submit" value="Submit" class="btn btn-default">
      </form>
    </div>
    <div class="col-md-6">
      <div id="preview">
      </div>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<% include partials/markdown.ejs %>
<% include partials/footer.ejs %>
