<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Add a Question Category</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form" method="POST">
      <div class="input-group">
        <input type="text" name="category" class="form-control">
      </div>
        <input type="submit" value="Submit" class="btn btn-default">
      </form>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<% include partials/footer.ejs %>
